-- MySQL dump 10.13  Distrib 8.0.28, for Win64 (x86_64)
--
-- Host: localhost    Database: ecommerce
-- ------------------------------------------------------
-- Server version	8.0.28

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `cart`
--

DROP TABLE IF EXISTS `cart`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cart` (
  `custID` int NOT NULL,
  `prodID` int NOT NULL,
  `orderQnt` int NOT NULL,
  PRIMARY KEY (`custID`,`prodID`),
  KEY `cartprodFK` (`prodID`),
  CONSTRAINT `cartcustFK` FOREIGN KEY (`custID`) REFERENCES `customer` (`custID`) ON DELETE CASCADE,
  CONSTRAINT `cartprodFK` FOREIGN KEY (`prodID`) REFERENCES `product` (`prodID`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cart`
--

LOCK TABLES `cart` WRITE;
/*!40000 ALTER TABLE `cart` DISABLE KEYS */;
INSERT INTO `cart` VALUES (1,1,1),(1,2,5),(1,5,10);
/*!40000 ALTER TABLE `cart` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer`
--

DROP TABLE IF EXISTS `customer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customer` (
  `custID` int NOT NULL AUTO_INCREMENT,
  `custPhone` varchar(16) NOT NULL,
  `username` varchar(100) NOT NULL,
  `hash` text NOT NULL,
  `custAddress` varchar(200) NOT NULL,
  `custEmail` varchar(100) NOT NULL,
  PRIMARY KEY (`custID`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customer`
--

LOCK TABLES `customer` WRITE;
/*!40000 ALTER TABLE `customer` DISABLE KEYS */;
INSERT INTO `customer` VALUES (1,'+201124033086','ahmed','pbkdf2:sha256:260000$aHp9mJtjPrXdraeH$0c46617a44dd67fcd0d3bf03bb53867bd6306ec4448c4c172982815ae40286d7','4th Mohamed Ibrahim street - Ain shams','ahmedtayseer303@gmail.com');
/*!40000 ALTER TABLE `customer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product`
--

DROP TABLE IF EXISTS `product`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product` (
  `prodID` int NOT NULL AUTO_INCREMENT,
  `prodName` varchar(100) NOT NULL,
  `category` varchar(100) DEFAULT NULL,
  `prodDescription` varchar(400) NOT NULL,
  `prodPrice` decimal(8,2) NOT NULL,
  `prodStockQnt` int NOT NULL,
  `imageurl` text,
  `sellerID` int NOT NULL,
  PRIMARY KEY (`prodID`),
  KEY `prodSellerFK` (`sellerID`),
  CONSTRAINT `prodSellerFK` FOREIGN KEY (`sellerID`) REFERENCES `seller` (`sellerID`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product`
--

LOCK TABLES `product` WRITE;
/*!40000 ALTER TABLE `product` DISABLE KEYS */;
/*!40000 ALTER TABLE `product` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `purchase`
--

DROP TABLE IF EXISTS `purchase`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `purchase` (
  `purDate` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `purQnt` int NOT NULL,
  `prodID` int NOT NULL,
  `custID` int NOT NULL,
  PRIMARY KEY (`prodID`,`custID`,`purDate`),
  KEY `purcustFK` (`custID`),
  CONSTRAINT `purcustFK` FOREIGN KEY (`custID`) REFERENCES `customer` (`custID`) ON DELETE CASCADE,
  CONSTRAINT `purProdFK` FOREIGN KEY (`prodID`) REFERENCES `product` (`prodID`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `purchase`
--

LOCK TABLES `purchase` WRITE;
/*!40000 ALTER TABLE `purchase` DISABLE KEYS */;
INSERT INTO `purchase` VALUES ('2022-05-14 17:13:15',1,1,1),('2022-05-15 19:36:30',1,1,1),('2022-05-14 17:13:15',1,2,1),('2022-05-14 17:13:15',1,3,1),('2022-05-14 17:13:15',1,4,1),('2022-05-14 17:13:15',2,5,1),('2022-05-14 17:13:15',1,6,1);
/*!40000 ALTER TABLE `purchase` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `seller`
--

DROP TABLE IF EXISTS `seller`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `seller` (
  `sellerID` int NOT NULL AUTO_INCREMENT,
  `username` varchar(100) NOT NULL,
  `hash` text NOT NULL,
  `sellerPhone` varchar(16) NOT NULL,
  `sellerEmail` varchar(100) NOT NULL,
  PRIMARY KEY (`sellerID`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `seller`
--

LOCK TABLES `seller` WRITE;
/*!40000 ALTER TABLE `seller` DISABLE KEYS */;
INSERT INTO `seller` VALUES (1,'owner','pbkdf2:sha256:260000$3RUtAX94x09nW6aX$d133b007d198c07fcc265ccd10d0a8e8a98c495329cbaccfe31b6f907d4fd770','01234567891','ahmedtayseer303@gmail.com');
/*!40000 ALTER TABLE `seller` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2022-05-21 20:00:21
